<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blogasaurus</title>
  </head>
  <body>
    <form method = "post" action = "/postInfo">
      <label>
        Enter Title:
      <input type="text" name = "Title " value="" placeholder="Title goes here">
      </label><br/>
      <label>
        Enter Content:
      <input type = "text" name = "Content" value = "content here">
      </label><br/>
      <label>
      <input type = "text" name = "AuthorName" value = "Enter Name">
      </label>
      <label>
      <button type="submit">Submit</button>
      </label>
    <form>
  </body>
</html>
